<div class="phx-hero">
  <h2>Hello <%= @messenger %></h2>
  <form id="follow-form">
    <p>Follow Users By Name: </p><input id="message">
    <button type="submit">Subscribe</button>
  </form>
  <form id="tweet-form">
    <textarea name="message" rows="10" cols="30"></textarea>
    <br>
    <button type="submit">Tweet</button>
  </form>
  <table id="timeline">
  </table>
</div>